version: '3.8'

services:
  db:
    image: postgres:15
    container_name: tcc_postgres
    restart: always
    environment:
      POSTGRES_USER: user_tcc
      POSTGRES_PASSWORD: password_tcc
      POSTGRES_DB: telemetry_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

  pgadmin:
    image: dpage/pgadmin4
    container_name: tcc_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  postgres_data: